.pokemon {
  position: absolute;
  margin: 50px 0 0 0;
  left: 7%;
}
  
.pokemon-sign:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
  cursor: pointer;
}

.pokemon-sign {
  transition: all 0.3s;
}

.pokemon-container{
  background-image: url('../../../src/img/main-page-wp.gif');
  height: 100vh;
  background-size: 100%;
}

