.pokemon {
  position: absolute;
  margin-top: 70px;
  left: 7%;
}
  
.pokemon-sign {
  transition: transform 0.3s ease-in-out;
}

.pokemon-sign:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.pokemon-container{
  background-image: url('../../../src/img/main-page-wp.gif');
  height: 100vh;
  background-size: 100%;
}

