.main {
  flex-grow: 1;
  position: relative;
}

.article {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  top: 0px;
  left: 0px;
}

.article[status="inactive"] {
  transform: translateX(-100%);
}

.main-section {
  height: 100%;
  border: 1ps solid rgb(255, 255, 255, 0.1);
}

.main-nav-section,
.description-section {
  border-left: 1px solid rgb(255, 255, 255, 0.1);
}

.main-nav-section,
.title-section {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;
  padding-top: 30px;
}

.poke-img {
  height: 50%;
  cursor: pointer;
}

.title-section {
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
}

.poke-name {
  font-size: 6rem;
  cursor: pointer;
  opacity: 1;
}

.main-nav-section {
  display: flex;
}

.arrow-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  cursor: pointer;
}

.right-arrow {
  width: calc(50% - 1px);
  border-left: 1px solid rgb(255, 255, 255, 0.1);
  user-select: none;
}

.right-arrow:hover {
  padding-left: 30px;
  background-color: #090e1d;
}

.left-arrow:hover {
  padding-right: 30px;
  background-color: #090e1d;
  user-select: none;
}

.fa-rotate {
  transition: all ease 0.7s;
  cursor: pointer;
}

.title-section:hover .fa-rotate {
  transform: rotate(180deg);
}

.img-section {
  display: flex;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80%;
}

.stats-card p {
  font-size: 1.2rem;
  text-align: center;
}

.inactive {
  cursor: not-allowed;
  opacity: 0.3;
}
